/*Global Styles */
* {
    padding: 0;
    margin: 0;

}

@font-face {
    font-family: HBold;
    src: url(/fonts/Helvetica-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: SourceLight;
    src: url(/fonts/SourceSansPro-Light.ttf);
}
@font-face {
    font-family: SourceBold;
    src: url(/fonts/SourceSansPro-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: SourceRegular;
    src: url(/fonts/SourceSansPro-Regular.ttf);
}

body {
    height: 100%;
    width: 100%;
    background: url(/imgs/background.svg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}


/* Top Content */
.top-content {
    display: flex;
    color: #000000;
    padding: 50px;
    font-family: HBold;
    
}

.b1 {
    border: 1px solid #000000;
}

/*Main Content */
.container-one {
    padding: 50px;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.intro {
    color: #1E9D9D;
    font-size: 20px;
    font-family: SourceBold;
}

.name {
    color: #000000;
    font-size: 80px;
    font-family: SourceBold;
}

.occupation {
    color: #000000;
    font-size: 24px;
    font-family: SourceBold;
}

.short-bio {
    color: #000000;
    font-size: 20px;
    width: 200px;
}

/* Container Two */
.container-two {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a b c";
}
.contact-info {
    grid-area: a;
    padding-top: 300px;

}
.contact-1 {
    color: #FFFFFF;
    font-size: 20px;
    padding-left: 50px;
    font-family: SourceBold;
}
.contact {
    display: flex;
    padding-top: 30px;
    padding-left: 50px;
    gap: 105px;
    color: #FFFFFF;
    font-size: 20px;
    font-family: SourceBold;
}
.contact-in {
    display: flex;
    padding-left: 50px;
    gap: 20px;
    color: #FFFFFF;
}

.allie-img {
    grid-area: b;
    padding-left: 200px;
    
}

.social-links {
    grid-area: c;
    padding-left:85%;
}
.social-text {
    color: #FFFFFF;
    writing-mode: vertical-lr;
    font-family: SourceBold;
    font-size: 20px;
    text-align: center;
    margin: auto;
}

.logo-wrapper {    
    padding-top: 50px;
}

.social-logo {
    display: block;
}

.facebook {
    padding-top: 20px;
}
.twitter {
    padding-top: 20px;
}

